* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.flex-container {
    height: 100px;
    display: flex;
    border: 2px solid;
}

.flex-child1 {
    width: 200px;
    padding: 20px;
    text-align: center;
    flex: 2 1 150px;
    background-color: lightsalmon;
}

.flex-child2 {
    width: 200px;
    padding: 20px;
    text-align: center;
    flex: 1 0 100px;
    background-color: beige;
}

.flex-child3 {
    width: 200px;
    padding: 20px;
    text-align: center;
    background-color: cadetblue;
}